@import "tailwindcss";

@theme {
  --color-primary: #facc15;
  --color-navy-blue: #0a1a6b;
  --color-navy-light: #11237c;
  --color-background-light: #f8fafc;
  --color-background-dark: #050b2b;
  --color-industrial-gray: #e2e8f0;
  --font-family-sans: "Manrope", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background-light text-navy-blue;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.fill-1 {
  font-variation-settings: 'FILL' 1;
}